<h1>Dashboard::Bookings#index</h1>

<h1>Pending approval...</h1>
<div class="container">
<% @bookings_as_owner.each do |booking| %>
  <%= image_tag "#{booking.sock.photo_url}", style: 'height:200px; width:auto;', alt: "#{booking.sock.name}"%>
  <p><%= booking.sock.name %></p>
  <p><%= booking.sock.description %></p>
  <p><%= booking.sock.size %></p>
  <p><%= booking.sock.style %></p>
  <p><%= booking.sock.color %></p>
  <p><%= booking.sock.price %></p>
  <% end %>
</div>

<h1>History</h1>
<div class="container">
<% @bookings.each do |booking| %>
  <%= image_tag "#{booking.sock.photo_url}", style: 'height:200px; width:auto;', alt: "#{booking.sock.name}"%>
  <p><%= booking.sock.name %></p>
  <p><%= booking.sock.description %></p>
  <p><%= booking.sock.size %></p>
  <p><%= booking.sock.style %></p>
  <p><%= booking.sock.color %></p>
  <p><%= booking.sock.price %></p>
  <% end %>
</div>

<h1>Show all the socks I own</h1>
<% @current_user.socks.each do |sock| %>
  <p><%= sock.name %><p>
  <p><%= sock.description %>
  <p><%= image_tag "#{sock.photo_url}", style: 'height:200px; width:auto;', alt: "#{sock.name}"%></p>
<% end %>
