<div class="container">
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="active tab-underlined" id="home-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="home" aria-selected="true">Bookings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined" id="profile-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="profile" aria-selected="false">Requests</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="bookings" role="tabpanel" aria-labelledby="home-tab">
      <% @bookings.each do |booking| %>
        <%= image_tag "#{booking.sock.photo_url}", alt: "#{booking.sock.name}"%>
        <p><%= booking.sock.name %></p>
        <p><%= booking.sock.description %></p>
        <p><%= booking.sock.size %></p>
        <p><%= booking.sock.style %></p>
        <p><%= booking.sock.color %></p>
        <p><%= booking.sock.price %></p>
      <% end %>
    </div>
    <div class="tab-pane fade py-3" id="requests" role="tabpanel" aria-labelledby="profile-tab">
      <% @bookings_as_owner.each do |booking| %>
        <%= image_tag "#{booking.sock.photo_url}", alt: "#{booking.sock.name}"%>
        <p><%= booking.sock.name %></p>
        <p><%= booking.sock.description %></p>
        <p><%= booking.sock.size %></p>
        <p><%= booking.sock.style %></p>
        <p><%= booking.sock.color %></p>
        <p><%= booking.sock.price %></p>
      <% end %>
    </div>
  </div>

</div>

<h1>Show all the socks I own</h1>
<% @current_user.socks.each do |sock| %>
  <p><%= sock.name %><p>
  <p><%= sock.description %>
  <p><%= image_tag "#{sock.photo_url}", style: 'height:200px; width:auto;', alt: "#{sock.name}"%></p>
<% end %>
