<div class="container">
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="active tab-underlined" id="home-tab" data-toggle="tab" href="#my-socks" role="tab" aria-controls="home" aria-selected="true">My Socks</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined" id="profile-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="profile" aria-selected="false">Bookings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="tab-underlined" id="profile-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="profile" aria-selected="false">Requests</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade py-3 show active" id="my-socks" role="tabpanel" aria-labelledby="home-tab">
      <% if current_user.socks.present? %>
        <div class="container">
          <% current_user.socks.each do |sock| %>

            <div class="card-product">
              <%= cl_image_tag sock.photo.attached? ? cl_image_path(sock.photo.key) : image_path(sock.photo_url) %>
              <div class="card-product-infos">
                <h2><%= sock.name.capitalize %></p></h2>
                <p><%= sock.description.capitalize %></p>
                <p>Size: <%= sock.size %></p>
                <p>Style: <%= sock.style.capitalize %></p>
                <p>Color: <%= sock.color.capitalize %></p>
                <p>Price: <%= sock.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="container">
          <h2>You haven't uploaded any socks yet!</h2>
        </div>
      <% end %>
    </div>


    <div class="tab-pane fade py-3 mb-3" id="bookings" role="tabpanel" aria-labelledby="profile-tab">
      <div class="container">
        <%# if current_user.bookings.present? %>
          <% @bookings.each do |booking| %>
            <% if booking.status == 'pending' %>
              <div class="container">
                <h2>Pending</h2>
                <div class="card-product mb-3">
                  <%= cl_image_tag booking.sock.photo.key, style: 'height:200px; width:auto;', alt: "#{booking.sock.name}"%>
                  <div class="card-product-infos">
                    <h2><%= booking.sock.name.capitalize %></h2>
                    <p><%= booking.sock.description.capitalize %></p>
                    <p><%= booking.sock.size %></p>
                    <p><%= booking.sock.style.capitalize %></p>
                    <p><%= booking.sock.color.capitalize %></p>
                    <p><%= booking.sock.price %></p>
                  </div>
                </div>
              </div>
            <% elsif booking.status == 'confirmed' %>
              <div class="container">
                <h2>Confirmed</h2>
                <div class="card-product mb-3">
                  <%= cl_image_tag booking.sock.photo.key, style: 'height:200px; width:auto;', alt: "#{booking.sock.name}"%>
                  <div class="card-product-infos">
                    <h2><%= booking.sock.name.capitalize %></h2>
                    <p><%= booking.sock.description.capitalize %></p>
                    <p><%= booking.sock.size %></p>
                    <p><%= booking.sock.style.capitalize %></p>
                    <p><%= booking.sock.color.capitalize %></p>
                    <p><%= booking.sock.price %></p>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="container">
                <h2>You haven't booked any socks yet!</h2>
              </div>
           <% end %>
          <% end %>
      </div>
    </div>


    <div class="tab-pane fade py-3" id="requests" role="tabpanel" aria-labelledby="profile-tab">
      <div class="container">
        <% if @bookings_as_owner.where(status: "pending").present? %>
          <% @bookings_as_owner.where(status: "pending").each do |booking| %>
            <%= cl_image_tag booking.sock.photo.key, style: 'height:200px; width:auto;', alt: "#{booking.sock.name}"%>
            <p>From: <%= booking.start_date %></p>
            <p>Until: <%= booking.end_date %></p>
            <p>Requested by: <%= booking.user.email %></p>
            <div style="display: flex">
              <%= simple_form_for(booking) do |f| %>
                <%= f.input :status, input_html: {value: "confirmed" }, as: :hidden %>
                <%= f.submit "Accept", class: "btn-ghost mr-2" %>
              <% end %>
              <%= simple_form_for(booking) do |f| %>
                <%= f.input :status, input_html: {value: "rejected" }, as: :hidden %>
                <%= f.submit "Reject", class: "btn-ghost" %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="container">
            <h2>No pending requests!</h2>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
