<h1>Dashboard::Bookings#index</h1>
<p>Find me in app/views/dashboard/bookings/index.html.erb</p>


<h1>Pending approval...</h1>
<div class="container">
<% @bookings_as_owner.each do |booking| %>
  <%= image_tag "#{booking.sock.photo_url}", alt: "#{booking.sock.name}"%>
  <p><%= booking.sock.name %></p>
  <p><%= booking.sock.description %></p>
  <p><%= booking.sock.size %></p>
  <p><%= booking.sock.style %></p>
  <p><%= booking.sock.color %></p>
  <p><%= booking.sock.price %></p>
  <% end %>
</div>

<h1>History</h1>
<div class="container">
<% @bookings.each do |booking| %>
  <%= image_tag "#{booking.sock.photo_url}", alt: "#{booking.sock.name}"%>
  <p><%= booking.sock.name %></p>
  <p><%= booking.sock.description %></p>
  <p><%= booking.sock.size %></p>
  <p><%= booking.sock.style %></p>
  <p><%= booking.sock.color %></p>
  <p><%= booking.sock.price %></p>
  <% end %>
</div>
