<div class="container mt-5">
  <div class="card-trip img-fluid p-2">
    <%= cl_image_tag @sock.photo.attached? ? cl_image_path(@sock.photo.key) : image_path(@sock.photo_url) %>
    <div class="card-trip-infos">
      <div>
        <h1><strong><%= @sock.name.capitalize %></strong></h1>
        <p><%= @sock.description %></p>
      </div>
      <div class="d-flex">
        <div>
          <p><strong>Color: </strong><%= @sock.color.capitalize %></p>
          <p><strong>Size: </strong><%= @sock.size %></p>
        </div>
        <div class="ml-3">
          <p><strong>Style: </strong><%= @sock.style.capitalize %></p>
          <p><strong>Price: ¥</strong><%= @sock.price %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-3 ">
    <%= link_to 'Make a booking', new_sock_booking_path(@sock), class: 'btn-slide mr-2'%>
    <%= link_to 'Back', socks_path, class: 'btn-slide' %>
  </div>
</div>
