<div class="container-sock">
  <div class="row py-2">
    <div class="col-8">
      <div>
        <h2><strong><%= @sock.name %></strong></h2>
      </div>
      <div class="d-flex border-right">
        <div class="container-sock-img">
          <%= cl_image_tag @sock.photo.attached? ? cl_image_path(@sock.photo.key, :crop=>"lfill") : image_path(@sock.photo_url) %>
        </div>
        <div class="ml-4 mt-5">
          <div class="mb-2 d-flex align-items-center">
            <%= cl_image_tag @sock.user.photo.attached? ? cl_image_path(@sock.user.photo.key) : image_path("https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg"), class: "avatar-large" %>
            <p class="ml-2 pt1"><%= @sock.user.username if @sock.user.username.present?  %></p>
          </div>
          <p><strong>Size: </strong><%= @sock.size %></p>
          <p><strong>Color: </strong><%= @sock.color.capitalize %></p>
          <p><strong>Style: </strong><%= @sock.style.capitalize %></p>
          <p><strong>Style: </strong><%= @sock.description %></p>
          <p><strong>Style: </strong>¥<%= @sock.price %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="sticky">
          <div id="map"
            style="width: 400px; height: 50vh; border-radius: 0 0 30% 0;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="d-flex align-items-center justify-content-center mt-3 ">
      <% if current_user.nil? || @sock.user_id != current_user.id  %>
        <%= link_to 'Make a booking', new_sock_booking_path(@sock), class: 'btn-slide mr-2'%>
        <%= link_to 'Back', socks_path, class: 'btn-slide' %>
      <% else @sock.user_id == current_user.id %>
        <%= link_to 'Back', socks_path, class: 'btn-slide' %>
      <% end %>
    </div>
  </div>
</div>
