<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to socks_path, class: "navbar-brand" do %>
    <p class="nav-name">Air Socks</p>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <%= link_to 'Create a sock listing', new_sock_path, class: 'btn-ghost mx-1' %>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", socks_path, class: "btn-ghost nav-link mx-1" %>
        </li>

        <li class="nav-item active">
          <%= current_user.nil? ? "Hello!" : current_user.email  %>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "https://mobilityoi.org/wp-content/uploads/2015/06/Avatar-No-Photo-generic.jpg", class: "avatar-bordered dropdown-toggle ml-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Socks", dashboard_bookings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn-ghost nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
